@model HomeViewModel
@using Pizza_delivery.ViewModels
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Delicous Pizza of the Week</h1>
       <div>
        @foreach (var pizzOfWeek in Model.PizzasOfTheWeek)
        {
            <partial name="_PizzaCard" model="pizzOfWeek" />
        }
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
