@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Order
<form method="post" asp-action="Checkout">
    <div>
        <label asp-for="FirstName"></label>
        <input type="text" asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label asp-for="LastName"></label>
        <input type="text" asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div>
        <label asp-for="StreetAddress"></label>
        <input type="text" asp-for="StreetAddress" class="form-control" />
        <span asp-validation-for="StreetAddress"></span>
    </div>
    <div>
        <label asp-for="StreetAddress2"></label>
        <input type="text" asp-for="StreetAddress2" class="form-control" />
        <span asp-validation-for="StreetAddress2"></span>
    </div>
    <div>
        <label asp-for="City"></label>
        <input type="text" asp-for="City" class="form-control" />
        <span asp-validation-for="City"></span>
    </div>
    <div>
        <label asp-for="State"></label>
        <input type="text" asp-for="State" class="form-control" />
        <span asp-validation-for="State"></span>
    </div>
    <div>
        <label asp-for="PostalCode"></label>
        <input type="text" asp-for="PostalCode" class="form-control" />
        <span asp-validation-for="PostalCode"></span>
    </div>
    <div>
        <label asp-for="PhoneNumber"></label>
        <input type="text" asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input type="text" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email"></span>
    </div>
    <input type="submit" value="I'm done!"/>
</form>